# Python / general
__pycache__/
*.pyc
*.pyo
*.pyd

# IDEs
.vscode/
.idea/

# env, secrets
.env
.env.local
.env.*.local

# Docker local volumes and data directories (do not push)
docker/data/
docker/rabbitmq/
volumes/
postgres_data/
rabbitmq_data/

# backups
*.bak

# OS
Thumbs.db
.DS_Store
